 /* aaaa  */
 .prof {
     border-radius: 100px;
 }

 .save {
     display: flex;
     position: relative;
 }

 .like.active {
     content: url("./img/red.png");
 }

 .save.active {
     content: url("./img/save-fill.png");
 }

 .prof {
     height: 17px;
     width: 17px;
 }

 /* end  */

 .section>div:nth-child(1) {
     padding: 2%;
     display: flex;
 }

 .section>div:nth-child(1) {
     padding: 2%;

 }

 .comment-body {
     padding: 2%;
     font-size: 1.1rem;
     margin-left: 3%;
 }

 .muted {
     color: gray;
     font-size: 0.9rem;
     padding-top: 3%;
     display: block ruby;
 }

 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     object-fit: contain;
 }


 .muted>span {
     margin-right: 5%;
 }

 .fa-ellipsis {
     float: right;
     cursor: pointer;
     font-size: larger;
     text-align: end;
 }

 .fa-heart {
     cursor: pointer;
 }

 body {
     display: flex;
     margin: 4%;
     flex-wrap: wrap;
 }

 .section {
     padding: 2%;
     display: flex;
     border-bottom: 1px solid gray;
 }

 .section>div {
     display: flex;
     align-items: center;
     width: 100%;
 }

 .section>div .img {
     width: 50px;
     margin-right: 10px;
 }

 .comment-body {
     flex: 1;
     padding: 1%;
     font-size: 1.1rem;
     margin-left: 3%;
 }

 .muted {
     color: gray;
     font-size: 0.9rem;
     padding-top: 3%;
 }

 .muted>span {
     margin-right: 5%;
 }

 .dots {
     margin-left: auto;
 }

 .dots i {
     font-size: large;
     color: grey;
 }

 /* Media query for responsiveness */
 @media (max-width: 768px) {
     .section>div {
         flex-direction: column;
         align-items: flex-start;
     }

     .section>div .img {
         margin-right: 0;
         margin-bottom: 10px;
     }
 }